.container-inputs {
  position: absolute;
  top: -5rem;
  right: -4rem;
}

.container-elements {
  width: 300px;
  height: 75dvh;
  max-height: 75dvh;
  transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 2);
  box-shadow:
    1px 1px 8px var(--shadow1),
    4px 4px 16px var(--shadow1);
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--secondary-color);
  border: thin solid var(--primary-color);
  padding: 0 0.5rem;
}

.container-elements {
  scrollbar-width: thin;
  scrollbar-color: #6f42c1 white;
}

.container-menu {
  top: 1.5rem;
  right: 2rem;
  z-index: 999;
  position: absolute;
}

.container-menu__label {
  padding: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
  box-shadow:
    1px 1px 2px var(--shadow1),
    2px 2px 8px var(--shadow2);
  transition: all 0.2s ease;
  font-size: 0;
}

.container-menu__label:active {
  box-shadow: 1px -1px 8px var(--primary-color) inset;
}

.menu[type="checkbox"] {
  opacity: 0;
  display: none;
}

.menu[type="checkbox"]:checked ~ .container-menu__label {
  box-shadow: 1px -1px 8px var(--primary-color) inset;
}

div:has(.menu[type="checkbox"]:not(:checked)) + .container-elements {
  transform: translateX(105%);
}

div:has(.menu[type="checkbox"]:checked) + .container-elements {
  transform: translateX(0);
}

.container-menu__icon {
  position: relative;
}

.container-menu__icon::after {
  position: absolute;
  width: 2px;
  height: 20px;
  content: "";
  background-color: white;
  transform: translate(-1px, 3px);
  transition: transform 0.3s cubic-bezier(0.98, 0.055, 0.09, 0.63);
  font-size: 10px;
}

.container-menu__icon::before {
  position: absolute;
  width: 20px;
  height: 2px;
  content: "";
  background-color: white;
  transform: translate(-10px, 12px);
  transition: transform 0.3s cubic-bezier(0.98, 0.055, 0.09, 0.63);
  font-size: 10px;
}

.menu[type="checkbox"]:checked
  + .container-menu__label
  > .container-menu__icon::after {
  transform: rotate(45deg) translate(2px, 4px);
}

.menu[type="checkbox"]:checked
  + .container-menu__label
  > .container-menu__icon::before {
  transform: rotate(225deg) translate(-3px, -16px);
}

.container-elements__elements {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 4.8rem 0.3rem 0;
  align-items: center;
}

.container-element__title {
  text-transform: uppercase;
  color: white;
  background-color: #8b8b8b8d;
  width: 100%;
  padding: 0.3rem 0.5rem;
  font-weight: 700;
  border-radius: 4px;
}

.container-elements__item {
  display: block;
  width: 100%;
}

.container-elements__btn {
  background-color: var(--background-color);
  color: var(--primary-color);
  width: 100%;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 0;
  font-size: 1.4rem;
  border: thin solid var(--primary-color);
}

.container-elements__btn:hover {
  background-color: var(--primary-color);
  color: var(--color-white);
  opacity: 0.9;
  box-shadow:
    0 0 06px var(--shadow1),
    4px 2px 8px var(--shadow2);
}

.container-elements__btn:active {
  box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.6) inset;
}
