.h1-web-components {
  color: var(--primary-color);
}

.section-forms {
  position: relative;
}

.section-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.container-card-form {
  position: relative;
  padding: 2rem;
  min-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  border-radius: 10px;
  border: thin solid #80808066;
  width: 600px;
  transition:
    opacity 0.3s ease-in-out,
    display 1s ease-in-out allow-discrete;
}

.container-forms {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
}

.container-components {
  position: relative;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border: thin solid #8080802c;
  border-radius: 5px;
  width: 100%;
}

@media (max-width: 75em) {
  /* 1200px */
}

@media (min-width: 112.5em) {
  /* 1800px */
}

@media (max-width: 37.5em) {
  /* 600px */
  .heading1 {
    font-size: 2.8rem;
  }

  .heading2 {
    font-size: 2.4rem;
  }

  .heading3 {
    font-size: 2rem;
  }

  .heading4 {
    font-size: 1.6rem;
  }

  .heading5 {
    font-size: 1.2rem;
  }

  .heading6 {
    font-size: 1rem;
  }

  .paragraph {
    font-size: 1rem;
  }
}
